$primary-color: #002B5B; // Azul Escuro
$secondary-color: #FFC107; // Dourado
$background-color: #FFFFFF; // Branco
$neutral-light: #F5F5F5; // Cinza Claro
$neutral-medium: #8E8E8E; // Cinza Médio
$success-color: #00A859; // Verde
$text-color: #fff;